.overlay-expander--toggle {
  // Your styles here
  position: absolute; 
  left: 0px; 
  height: 50px; 
  top: 40%; 
  padding: 30px 0px 0px;
  z-index:99999;
}

.overlay-expander--expanded {
    width: 750px !important; 
    margin-left: -750px;
}